@import './exploracion.scss';
html, body {
  height: 100%;
}
body {
  margin: 0;
}

#comapp__container {}
#navigation {
  height: 72px;
  width: 100%;
  background: #f3f3f3;
  border-bottom: 1px solid #D5D5D5;
}
#navigation .logo {
  height: 40px;
  padding: 16px 15px;
}

.sidebar {
  width: 450px;
  padding: 15px;
  background: #f7f7f7;
  height: 100%;
  border-right: 1px solid #ebebeb;
}

// inputs
.radio {
  transition: all 0.3s ease;
  margin-bottom: 5px;
  label {
    cursor: pointer;
  }
  font-size: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #dfdfdf;
  text-align: center;
}
.radio--active {
  background: #E63946;
  border: 1px solid #E63946 !important;
  color: #fff;
  border: none;
}
.radio__name {
  padding: 5px;
}
.radio__input {
  display: none;
}

.autocomplete input[type="text"] {
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 14px;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.autocomplete input[type="text"]:focus,
.autocomplete input[type="text"].focus {
  border-bottom: solid 2px #969696;
}
