/* Coolors Exported Palette - coolors.co/de0915-011627-133c55-253031-e8c547 */
$color1: rgba(220, 220, 221, 1);
$color2: rgba(197, 195, 198, 1);
$color3: rgba(70, 73, 76, 1);
$color4: rgba(76, 92, 104, 1);
$color5: rgba(25, 133, 161, 1);
$color6: red;
// $color1: rgba(222, 9, 21, 1);
// $color2: #ececec;
// $color3: rgba(19, 60, 85, 1);
// $color4: rgba(37, 48, 49, 1);
// $color5: rgba(232, 197, 71, 1);
// $color6: #e63946;

$font-open-sans: 'Open Sans Condensed', sans-serif;
